body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.info{
    background-color: #F4F9F9;
}
.info .name-described h1{
    font-size: 45px;
    font-weight: 800;
    margin:20px 0px;
}
.info .name-described p{
    width: 90%;
    font-size: 20px;
    margin: auto;
    margin-bottom: 30px;
}
.info  .card{
    -webkit-box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.79); 
    box-shadow: 0px 2px 16px 1px rgba(0,0,0,0.79);
    border-radius: 5px;   
}
.info  .card:hover{
    background-color: #A2B29F;
    opacity: 0.8;
    transition: 0.4s;
    
}
.info .card .card-img-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.info .card  h5{
    font-size: 25px;
    color: #CD113B;
    font-weight: 600;
}
.info .card  p{
    font-size: 18px;
    padding: 10px;
}
.info .card  a{
    font-size: 18px;
    padding: 5px 20px;
    background-color:#CD113B ;
    border: none;
    margin-bottom: 15px;
}
.info .card  a:hover{
    border: none;
    background-color: #FFA900;
    transition: 0.2s;
    color: black;
    font-size: 20px;
}
